<!DOCTYPE html>
<html ng-app="webPortfolio">

  <head>
    <title>Portfolio</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <!-- jquery -->
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jumbotron css -->
    <link rel="stylesheet" href="styles/jumbotron.css" />
    <!-- angular js -->
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <!-- app.js -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">PeterAnderson</a>
        </div>
        <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="../travels/index.html">Travels</a></li>
                      <li><a href="../music/index.html">Music</a></li>
                      <li><a href="../art/index.html">Art</a></li>
                    </ul>
                </li>
              </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Portfolio <span class="glyphicon glyphicon-folder-open"></span></h1>
        <p>Explore my web projects.</p>
      </div>
    </div>

    <!-- Main content area with portfolio items -->
    <div class="container" ng-controller="PortfolioController">
      <!-- Row of portfolio item objects -->
      <div class="row">
        <div class="col-md-4" ng-repeat="site in sites">
          <h2>{{site.name}}</h2>
          <p>{{site.description}}</p>
          <p><a class="btn btn-default" href="{{site.url}}" role="button">Enter &raquo;</a></p>
        </div>
      </div>


      <!-- begin preview form and data binding experiment -->
      <hr />

      <div class="row">
        <form name="addSiteForm" ng-controller="SiteController" ng-submit="addSite()">
            <div class="col-md-4">
              <h2>Data binding experiment</h2>
              <h3>Add site</h3>
              <p>Enter site properties, then preview and submit.</p>
              <input ng-model="site.name" type="text" class="form-control" placeholder="Site name" />
              <textarea ng-model="site.description" class="form-control" rows="3" placeholder="Description"></textarea>
              <input ng-model="site.url" type="text" class="form-control" placeholder="url" />
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="col-md-4">
              <h2>{{site.name}}</h2>
              <p>{{site.description}}</p>
            </div>
        </form>
      </div>

      <!-- end data binding experiment -->

      <hr />

      <footer>
        <p>&copy; PeterAnderson 2014</p>
      </footer>
    </div> <!-- /container -->
  </body>

</html>
